In [ ]:

                                               #assignment python

#1 Explain the key features of Python that make it a popular choice for programming.


Ans-Python is one of the most popular programming languages today, and its wide adoption comes from several key features that make it especially appealing to developers of all levels:
Python is a popular programming language for many reasons. Here are some of its key features that make it widely used across different domains:

1. Easy to Learn and Use
Python has a simple, readable syntax that resembles plain English.

It reduces the complexity of coding, making it ideal for beginners and professionals alike.

2. Interpreted Language
Python is interpreted, not compiled. You can run your code line by line, which makes debugging easier and faster.

3. Dynamically Typed
You don’t need to declare variable types explicitly—Python figures it out at runtime. This makes code shorter and more flexible.

4. High-Level Language
Python abstracts many low-level details like memory management, making development faster and less error-prone.

5. Extensive Standard Library
Comes with a rich set of built-in modules and functions for handling files, networking, regular expressions, math, web services, and more.

6. Large Ecosystem of Third-Party Libraries
Tools like NumPy, pandas, Django, Flask, TensorFlow, and others extend Python for tasks in:

Data science and machine learning

Web development

Automation/scripting

Game development

Cybersecurity

7. Cross-Platform Compatibility
Python runs on Windows, macOS, Linux, and more—write code once and run it anywhere.

8. Community Support
Python has a huge global community, meaning:

Tons of tutorials and documentation

Active forums and Q&A sites (like Stack Overflow)

Open-source projects and collaborations

9. Supports Multiple Programming Paradigms
You can write Python code in procedural, object-oriented, or functional styles—or mix them as needed.

10. Used by Major Tech Companies
Companies like Google, Facebook, Netflix, and NASA use Python, which contributes to its popularity and job market demand.

### 2)**Describe the role of predefined keywords in Python and provide examples of how they are used in a program**

Ans- Predefined keywords in Python are reserved words that have special meaning to the Python interpreter. They are an essential part of the language’s syntax and structure, and cannot be used as identifiers (like variable names, function names, or class names).

Role of Predefined Keywords Control the Flow of Programs: Keywords like if, else, for, and while help control the logical flow of a program.

Define Structures: Keywords such as class, def, and lambda are used to define classes and functions.

Error Handling: Keywords like try, except, and finally are used for managing exceptions.

Boolean and Logical Operations: True, False, and, or, not are used for logic-based conditions.

Variable Scope and Identity: global, nonlocal, is, and in help define scope and object relationships.

1. **Conditional Statement**

. if and else are control flow keywords.bold text

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

2. **Loop**

.for is used to create a loop, and in is used to iterate through a sequence.

In [ ]:
for i in range(3):
    print(i)

0
1
2

3. Function **Definition**

.def is used to define a function, and return is used to return a value from it.

In [ ]:
def greet(name):
    return "Hello, " + name

4. 4. **Class Definition**

.class defines a class, and def again is used to define methods inside it.

In [ ]:
class Dog:
    def __init__(self, name):
        self.name = name

5. **Exception Handling**

. try and except are used for handling errors.

In [ ]:
try:
    num = int("abc")
except ValueError:
    print("Conversion failed")

Conversion failed

## 3)Compare and contrast mutable and immutable objects in Python with examples

ans=In Python, mutable and immutable objects refer to whether an object can be changed after it is created.

 **Mutable Objects**
Can be changed in place.

Their state or contents can be modified after creation.

Examples: list, dict, set, bytearray

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

.The list my_list was changed by adding a new element.

**Immutable Objects**
Cannot be changed after creation.

Any operation that tries to modify the object results in a new object being created.

Examples: int, float, str, tuple, frozenset, bytes

In [ ]:
name = "Alice"
name = name + " Smith"
print(name)  # Output: Alice Smith

Alice Smith

**Comparison Table.**
Even though it looks like we "modified" the string, Python actually created a new string object and assigned it to name.

Feature | Mutable Objects | Immutable Objects
Can be changed |  Yes |  No
Memory address change |  No (usually same) |  Yes (new object)
Examples | list, dict, set | int, str, tuple
Use in collections |  Not hashable (usually) |  Hashable (can be dict keys)

**Important Note on Tuples:**
Tuples are immutable, but they can contain mutable elements:

In [ ]:
t = (1, [2, 3])
t[1].append(4)
print(t)  # Output: (1, [2, 3, 4])

(1, [2, 3, 4])

.The tuple itself didn’t change (still two elements), but the list inside it did.

## 4)**Discuss the different types of operators in Python and provide examples of how they are used**

ans= In Python, operators are special symbols or keywords used to perform operations on values or variables. They are essential for everything from basic math to logic and data manipulation.

🔹 1. Arithmetic Operators

   Used to perform mathematical operations.


Operator	Description	Example
+	Addition	3 + 2 → 5
-	Subtraction	5 - 1 → 4
*	Multiplication	4 * 2 → 8
/	Division	10 / 2 → 5.0
//	Floor Division	7 // 2 → 3
%	Modulus (Remainder)	7 % 2 → 1
**	Exponentiation	2 ** 3 → 8

🔹 2. Comparison (Relational) Operators
Used to compare two values.


Operator	Description	Example
==	Equal to	3 == 3 → True
!=	Not equal to	3 != 4 → True
>	Greater than	5 > 2 → True
<	Less than	1 < 3 → True
>=	Greater than or equal	4 >= 4 → True
<=	Less than or equal	3 <= 2 → False

🔹 3. Assignment Operators
Used to assign values to variables.


Operator	Description	Example
=	Assign	x = 10
+=	Add and assign	x += 5 → x = x + 5
-=	Subtract and assign	x -= 2
*=	Multiply and assign	x *= 3
/=	Divide and assign	x /= 4
%=	Modulus and assign	x %= 3

🔹 4. Logical Operators
Used to combine conditional statements.


Operator	Description	Example
and	True if both are True	x > 1 and x < 10
or	True if at least one is True	x > 1 or x > 10
not	Reverses the result	not(x > 5)

🔹 5. Bitwise Operators
Operate on binary representations.


Operator	Description	Example (binary)
&	AND	5 & 3 → 1 (0101 & 0011)
`	`	OR
^	XOR	5 ^ 3 → 6
~	NOT	~5 → -6
<<	Left shift	2 << 1 → 4
>>	Right shift	4 >> 1 → 2

🔹 6. Membership Operators
Used to test membership in a sequence (like lists, strings, etc.)


Operator	Description	Example
in	True if present	'a' in 'apple' → True
not in	True if not present	'x' not in 'apple' → True

🔹 7. Identity Operators
Used to compare the memory location of two objects.


Operator	Description	Example
is	True if same object	x is y
is not	True if not same object	x is not y

**xample Program Using Various Operators**

In [ ]:
x = 10
y = 3

# Arithmetic
print(x + y)    # 13
print(x ** y)   # 1000

# Comparison
print(x > y)    # True

# Logical
print(x > 5 and y < 5)  # True

# Membership
name = "Alice"
print("A" in name)  # True

# Identity
a = [1, 2]
b = a
print(a is b)  # True

13
1000
True
True
True
True

# 5) Explain the concept of type casting in Python with examples

ans=Type casting (or type conversion) is the process of converting one data type into another. Python provides built-in functions for both implicit and explicit type casting.

🔹 1. Implicit Type Casting
Python automatically converts one data type to another when needed, without user intervention.

In [ ]:
x = 5        # int
y = 2.0      # float

z = x + y    # int + float → float
print(z)     # Output: 7.0
print(type(z))  # Output: <class 'float'>

7.0
<class 'float'>

Python converted x from int to float to avoid data loss

🔹 2. Explicit Type Casting
You manually convert data from one type to another using functions like:

int() – converts to integer

float() – converts to float

str() – converts to string

list(), tuple(), set() – convert between collections

Convert float to int

In [ ]:
a = 5.9
b = int(a)
print(b)  # Output: 5

5

Convert int to string

In [ ]:
x = 10
y = str(x)
print(y + " apples")  # Output: 10 apples

10 apples

Convert string to int

In [ ]:
num = "123"
converted = int(num)
print(converted + 1)  # Output: 124

124

Convert list to set

In [ ]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

# 6) **How do conditional statements work in Python? Illustrate with examples**

ans= Conditional Statements in Python
Conditional statements allow your program to make decisions and execute certain blocks of code depending on whether a condition is True or False.

🔹 Basic Syntax

In [ ]:
if condition:
    # code block if condition is True
elif another_condition:
    # code block if another_condition is True
else:
    # code block if none of the above are True

🔹 1. if Statement
Executes a block of code only if the condition is True.

In [ ]:
x = 10

if x > 5:
    print("x is greater than 5")

x is greater than 5

🔹 2. if-else Statement
Executes one block if condition is True, another if False.

In [ ]:
x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is 5 or less

🔹 3. if-elif-else Statement
Checks multiple conditions in order.

In [ ]:
x = 5

if x > 10:
    print("x is greater than 10")
elif x == 5:
    print("x is exactly 5")
else:
    print("x is something else")

x is exactly 5

🔹 4. Nested if Statements
An if block inside another if block.

In [ ]:
x = 10
y = 20

if x < 15:
    if y > 15:
        print("x is less than 15 and y is greater than 15")

🔹 5. Using Logical Operators
You can combine conditions using:

and

or

not

In [ ]:
age = 25
if age > 18 and age < 30:
    print("You're a young adult!")

You're a young adult!

# **7)Describe the different types of loops in Python and their use cases with examples**

ans=in Python, loops are used to execute a block of code repeatedly. There are two main types of loops:

 1. for Loop
Used to iterate over a sequence like a list, tuple, string, or range.

 Syntax:

In [ ]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

. while Loop
Executes a block as long as a condition is True.

 Syntax:

In [ ]:
count = 0

while count < 3:
    print("Counting:", count)
    count += 1

Counting: 0
Counting: 1
Counting: 2

Loop Control Statements
🔸 break
Stops the loop immediately.

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

🔸 continue
Skips the current iteration and continues with the next.

In [ ]:
for i in range(5):
    if i == 2:
        continue
    print(i)
# Output: 0 1 3 4

0
1
3
4

🔸 pass
Does nothing — used as a placeholder.

In [ ]:
for i in range(3):
    pass  # Placeholder for future code

Nested Loops:

we can place loops inside other loops.

In [ ]:
for i in range(2):
    for j in range(3):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2

✅ Summary Table

Loop Type	Best For	Example Use Case
for	Known number of iterations	Loop through a list of items
while	Unknown number, condition-based	Wait for user to enter correct input